# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here

# Optional: Webhook URL for production
WEBHOOK_URL=https://your-domain.com/webhook

# Database Configuration
POSTGRES_URL="postgres://9e7f34b53403ce81c00ca270a84c9d613853037c52525791abf129e55007d041:sk_HG-r1wlxGb3bhnGELk76w@db.prisma.io:5432/postgres?sslmode=require"
DATABASE_URL="postgres://9e7f34b53403ce81c00ca270a84c9d613853037c52525791abf129e55007d041:sk_HG-r1wlxGb3bhnGELk76w@db.prisma.io:5432/postgres?sslmode=require"
